@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.ttf");
  font-display: swap;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color-primary) !important;
}

body {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: var(--fg-color-primary);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 600px) {
  body {
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 0.95rem;
  }
}

a {
  color: #3291ff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}
a:hover {
  color: #006ae5;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  main {
    margin-bottom: 5em;
  }
}
@media only screen and (min-width: 768px) {
  main {
    margin-left: 8em;
  }
}

@media only screen and (min-width: 768px) {
  .left {
    padding: 0 1em 0 5em;
  }
}

@media only screen and (min-width: 768px) {
  .right {
    padding: 0 5em 0 1em;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  max-width: 85em;
  padding: 4em 1em 0em 1em;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.btn {
  display: inline-flex;
  font-size: 0.95em;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color, background-color, box-shadow;
  transition: color, background-color, box-shadow;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-items: center;
  -moz-justify-items: center;
  -ms-justify-items: center;
  -o-justify-items: center;
  justify-items: center;
  -webkit-flex-pack: justify;
  -ms-flex-pack: justify;
  flex-pack: justify;
  border: none;
  border-radius: 0.3em;
  color: #102770;
  background-color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.375em 0.75em;
  line-height: 1.5;
}
.btn:active, .btn:focus {
  color: #102770;
  background-color: #ffeba7;
}
.btn:hover, .btn:disabled {
  color: #ffeba7;
  background-color: #102770;
}
.btn:active, .btn:focus, .btn:hover, .btn:disabled {
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 0.85em;
  padding: 0.75em 4em 0.75em 0.75em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(var(--fg-color-primary-rgb), 0.3) 3em, rgba(var(--fg-color-primary-rgb), 0.2) 3em);
  color: var(--fg-color-primary);
  border-radius: 1em;
  box-shadow: 0 0 1em 0 rgba(var(--box-shadow-color-primary-rgb), 0.2);
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
select:focus {
  outline: none;
}
select option {
  color: inherit;
  background-color: rgba(var(--bg-color-primary-rgb), 0.8);
}

#culture-switcher {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 0.75em;
}

.full-height {
  min-height: 100vh;
}

.noselect {
  -webkit-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 1.4em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--fg-color-primary);
  border-radius: 1em;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--fg-color-secondary);
}
