.container {
  padding-top: 1em !important;
  gap: 0 !important;
}

.header {
  display: flex;
  gap: 1em;
  background-color: var(--bg-color-secondary);
  background-image: url(../../images/pat.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: rgba(var(--box-shadow-color-primary-rgb), 0.4) 0px 7px 12px 0px;
}
.header .name {
  font-size: 1.3em;
  font-weight: bold;
}
.header .members {
  font-size: 0.9em;
  font-weight: 500;
  color: #ffeba7;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  overflow-y: scroll;
  max-height: 100vh;
  margin-bottom: 0.75em;
}
@media only screen and (max-width: 768px) {
  .messages {
    height: calc(100vh - 23.5em);
  }
}
@media only screen and (min-width: 768px) {
  .messages {
    height: calc(100vh - 19em);
  }
}
.messages .date-mark {
  color: var(--fg-color-secondary);
  align-self: center;
}
.messages .message-right {
  align-self: flex-end;
}
.messages .message-left {
  align-self: flex-start;
}
.messages .message {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  max-width: 30%;
  gap: 1em;
}
.messages .message .content {
  background-color: var(--bg-color-secondary);
  background-image: url(../../images/pat.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.75em;
  padding: 0.5em 1.25em;
  hyphens: auto;
  min-width: 7em;
  word-break: break-all;
  overflow-wrap: break-word;
  width: fit-content;
}
.messages .message .date {
  float: right;
  font-style: italic;
  font-size: 0.7em;
  font-weight: 500;
  color: #ffeba7;
}
.messages .message .profile-image {
  width: 3em;
  height: 3em;
  min-width: 3em;
  min-height: 3em;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.25em;
}

.type {
  background-color: var(--bg-color-secondary);
  background-image: url(../../images/pat.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.type .message-input {
  width: 100%;
}
