@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@model Echo.Models.CultureSwitcher

@using Echo

@inject IStringLocalizer<SharedResources> _

<div>
    <form id="culture-switcher">
		<div class="dropdown">
			<div class="select">
				<span class="noselect">@(Model.CurrentUICulture != null ? Model.CurrentUICulture.NativeName : _["Select Language"])</span>
				<i class="uil uil-arrow-down"></i>
			</div>
			<div class="dropdown-menu" style="display: none;">
			@foreach (var culture in Model.SupportedCultures)
			{
				@if (Model.CurrentUICulture != null && Model.CurrentUICulture.Name != culture.Name)
				{
				<a class="dropdown-item" target="_self" href="@Url.RouteUrl("SetCulture", new { culture = culture.Name, returnUrl = Context.Request.Path })" class="@(Model.CurrentUICulture?.Name == culture.Name ? "active" : "")">
					<span class="noselect">@_[culture.NativeName]</span>
				</a>
				}
			}
			</div>
		</div>
    </form>
</div>
