@model Echo.Models.CultureSwitcher
 
<div>
    <form id="culture-switcher">
        <select name="culture" id="culture-options" onchange="this.form.submit()">
            <option></option>
            @foreach (var culture in Model.SupportedCultures)
            {
                <option value="@culture.Name" selected="@(Model.CurrentUICulture.Name == culture.Name)">@culture.DisplayName</option>
            }
        </select>
    </form>
</div>
